# ~/.tmuxinator/sysmon.yml

name: sysmon
root: /tmp

# Optional tmux socket
socket_name: sysmon

# Runs before everything. Use it to start daemons etc.
# pre: sudo /etc/rc.d/mysqld start

# Runs in each window and pane before window/pane specific commands. Useful for setting up interpreter versions.
# pre_window: rbenv shell 2.0.0-p247

# Pass command line options to tmux. Useful for specifying a different tmux.conf.
# tmux_options: -f ~/.tmux.mac.conf

# Change the command to call tmux.  This can be used by derivatives/wrappers like byobu.
# tmux_command: byobu

# Specifies (by name or index) which window will be selected on project startup. If not set, the first window is used.
# startup_window: editor

# Specitifes (by index) which pane of the specified window will be selected on project startup. If not set, the first pane is used.
# startup_pane: 1

# Controls whether the tmux session should be attached to automatically. Defaults to true.
# attach: false

# Runs after everything. Use it to attach to tmux with custom options etc.
# post: tmux -CC attach -t sysmon

windows:
  - system:
      layout: main-horizontal
      panes:
        - htop                               # process manager
        - dstat -clpy --ipc                  # cpu stats
        - dstat -msg --vm                    # memory stats
        - dstat -d --io --fs --lock --aio -i # i/o stats
        - watch -c -n1 pydf                  # disk usage
  - log:
      layout: tiled
      panes:
        - lnav
  - portage:
      layout: tiled
      panes:
        - elogv
  - net:
      layout: tiled
      panes:
        - watch -c -n1 ip addr              # net ifaces info
        - dstat -n                          # traffic stats
        - sudo nethogs                      # traffic info
        - dstat --socket --tcp --udp --unix # sockets stats
        - watch -c -n1 netstat -lnut        # sockets status


# vim: set filetype=eruby.yaml :
